body > div > div > div > div > h1{
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
}

body > div > div > div > div{
    font-weight: bold;
    text-align: center;
}

body > div > a{
    margin-top: 10px !important;
}